<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort vergessen</title>
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
              <div class="error-message">
              <div class="error-icon">!</div>
                  <p>{{ message }}</p>
              </div>                    
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %} 
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Passwort vergessen</h1>
        </div>
        <p class="subtitle">Gib deine E-Mail-Adresse ein, um dein Passwort zurückzusetzen</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input type="email" class="input" id="email" name="email" placeholder=" " required>
                <label for="email" class="label">E-Mail</label>
            </div>
            <button type="submit" class="submit">Absenden</button>
        </form>
        <p class="footer">
           Erinnerst du dich an dein Passwort? <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>
</html>
