<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul>
          {% for category, message in messages %}
            <div class="{{ category }}-message">
            {% if category == 'success' %}
                <i class="fas fa-check-circle"></i>
            {% elif category == 'info' %}
                <i class="fas fa-info-circle"></i>
            {% elif category == 'error' %}
                <i class="fas fa-exclamation-circle"></i>
            {% endif %}
              <p>{{ message }}</p>
          {% endfor %}
        </div>
    </ul>
      {% endif %}
    {% endwith %}
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Anmelden</h1>
        </div>
        <p class="subtitle">Melde dich jetzt an und sieh dein Konto</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input type="email" class="input" id="email" name="email" placeholder=" " required>
                <label for="email" class="label">E-Mail</label>
            </div>
            <div class="input-group">
                <input type="password" class="input" id="password" name="password" placeholder=" " required>
                <label for="password" class="label">Passwort</label>
            </div>
            <div class="input-group">
                <label for="remember" class="remember-label">Remember Me</label>
                <input type="checkbox" name="remember" id="remember" class="remember">
            </div>
            <button type="submit" class="submit" value="Login">Absenden</button>
        </form>
        <p class="footer">
            Du hast noch kein Konto? <a href="{{ url_for('signup') }}">Sign Up</a>
        </p>
    </div>

</body>
</html>
