<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifizierung erneut senden</title>
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
      <div class="error-message">
        <div class="error-icon">!</div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}    </div>
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Verifizierung erneut senden</h1>
        </div>
        <p class="subtitle">Du solltest eine E-Mail mit dem Verifizierungscode erhalten haben</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input type="email" class="input" id="email" name="email" placeholder=" " required>
                <label for="email" class="label">E-Mail</label>
            </div>
            <button type="submit" class="submit" >Absenden</button>
        </form>
    </div>
</body>
</html>
