<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
     <div class="flash-messages>
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          <ul>
              {% for category, message in messages %}
                <div class="{{ category }}-message">
                {% if category == 'success' %}
                    <i class="fas fa-check-circle"></i>
                {% elif category == 'info' %}
                    <i class="fas fa-info-circle"></i>
                {% elif category == 'error' %}
                    <i class="fas fa-exclamation-circle"></i>
                {% endif %}
                  <p>{{ message }}</p>
              {% endfor %}
            </div>
        </ul>
          {% endif %}
        {% endwith %}
        </div>  
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Passwort zurücksetzen</h1>
        </div>
        <p class="subtitle">Setze dein Passwort zurück</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input type="password" class="input" id="password" name="password"  placeholder=" " required>
                <label for="password" class="label">Passwort</label>
            </div>
            <div class="input-group">
                <input type="password" class="input" id="confirm-password" name="confirm_password" placeholder=" " required>
                <label for="confirm-password" class="label">Passwort bestätigen</label>
            </div>
            <button type="submit" class="submit">Absenden</button>
        </form>
        <p class="footer">
           Direkt jetzt Anmelden <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                setTimeout(function() {
                    message.style.transition = 'opacity 0.5s ease';
                    message.style.opacity = '0';
                    setTimeout(function() {
                        message.remove();
                    }, 500);
                }, 5000);
            });
        });
    </script>
</body>
</html>
