<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
              <div class="error-message">
              <div class="error-icon">!</div>
                  <p>{{ message }}</p>
              </div>                    
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %} 
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Passwort zurücksetzen</h1>
        </div>
        <p class="subtitle">Setze dein Passwort zurück</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input type="password" class="input" id="password" name="password"  placeholder=" " required>
                <label for="password" class="label">Passwort</label>
            </div>
            <div class="input-group">
                <input type="password" class="input" id="confirm-password" name="confirm_password" placeholder=" " required>
                <label for="confirm-password" class="label">Passwort bestätigen</label>
            </div>
            <button type="submit" class="submit">Absenden</button>
        </form>
        <p class="footer">
           Direkt jetzt Anmelden <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>
</html>
