<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifizieren</title>
    <link rel="stylesheet" type="text/css" href="../static/css/forms.css">
</head>
<body>
    <div class="card">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
              <div class="error-message">
              <div class="error-icon">!</div>
                  <p>{{ message }}</p>
              </div>                    
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %} 
        <div class="header">
            <div class="dot"></div>
            <h1 class="title">Konto verifizieren</h1>
        </div>
        <p class="subtitle">Verifizieren Sie Ihr Konto mit dem Code, der per E-Mail gesendet wurde</p>
        <form class="form" method="POST">
            <div class="input-group">
                <input  name="email" type="email" class="input" id="email" placeholder=" " required>
                <label for="email" class="label">E-Mail</label>
            </div>
            <div class="input-group">
                <input type="password" class="input" id="code" name="code" placeholder=" " required>
                <label for="code" class="label">Passwort</label>
            </div>
            <button type="submit" value="Verify" class="submit">Absenden</button>         
        </form>
        <p class="footer">
          Keinen Code bekommen? <a href="{{ url_for('resend_verification') }}">Neuen code senden</a>
      </p>
    </div>
</body>
</html>
